(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Acircumflexdotbelow,
Adieresis,
Adotbelow,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
Bdotbelow,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotbelow,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecircumflex,
Ecircumflexdotbelow,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hdotbelow,
I,
IJ,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
K,
Kcommaaccent,
L,
L_ringbelowcomb,
Lacute,
Lcaron,
Lcommaaccent,
Ldotbelow,
Lslash,
M,
Macute,
Mdotbelow,
N,
N_strokelongcomb,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ntilde,
O,
Oacute,
Ocaron,
Ocircumflex,
Ocircumflexdotbelow,
Odieresis,
Odotbelow,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
R_ringbelowcomb,
Racute,
Rcaron,
Rcommaaccent,
Rdotbelow,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
U,
Uacute,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
a,
aacute,
abreve,
acaron,
acircumflex,
acircumflexdotbelow,
adieresis,
adotbelow,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
bdotbelow,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecircumflex,
ecircumflexdotbelow,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hdotbelow,
i,
idotless,
iacute,
icaron,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jdotlessstroke,
k,
kcommaaccent,
l,
l_ringbelowcomb,
lacute,
lcaron,
lcommaaccent,
ldotbelow,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
n,
n_strokelongcomb,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nhookretroflex,
ntilde,
o,
oacute,
ocaron,
ocircumflex,
ocircumflexdotbelow,
odieresis,
odotbelow,
ograve,
ohungarumlaut,
omacron,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
r_ringbelowcomb,
racute,
rcaron,
rcommaaccent,
rdotbelow,
s,
sacute,
scaron,
scedilla,
scommaaccent,
sdotbelow,
germandbls,
shook,
t,
tcaron,
tcedilla,
tcommaaccent,
tdotbelow,
u,
uacute,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
g.ss01,
gbreve.ss01,
gcommaaccent.ss01,
gdotaccent.ss01,
gmacron.ss01,
n_d.ordn,
r_d.ordn,
s_t.ordn,
t_h.ordn,
asuperior,
bsuperior,
csuperior,
dsuperior,
esuperior,
fsuperior,
gsuperior,
isuperior,
ksuperior,
msuperior,
osuperior,
psuperior,
qsuperior,
rsuperior,
tsuperior,
usuperior,
vsuperior,
zsuperior,
hsuperior,
jsuperior,
lsuperior,
nsuperior,
ssuperior,
wsuperior,
xsuperior,
ysuperior,
ordfeminine,
ordmasculine,
"akara-bali",
"akaraTedung-bali",
"ikara-bali",
"ikaraTedung-bali",
"ukara-bali",
"ukaraTedung-bali",
"raRepa-bali",
"raRepaTedung-bali",
"laLenga-bali",
"laLengaTedung-bali",
"ekara-bali",
"aikara-bali",
"okara-bali",
"okaraTedung-bali",
"ha-bali",
"na-bali",
"naRambat-bali",
"ca-bali",
"caLaca-bali",
"ra-bali",
"ka-bali",
"kaMahaprana-bali",
"kafSasak-bali",
"khotSasak-bali",
"da-bali",
"daMadu-bali",
"daMurdaAlpaprana-bali",
"daMurdaMahaprana-bali",
"ta-bali",
"taMurdaMahaprana-bali",
"taLatik-bali",
"taTawa-bali",
"tzirSasak-bali",
"sa-bali",
"saSapa-bali",
"saSaga-bali",
"zalSasak-bali",
"asyuraSasak-bali",
"wa-bali",
"veSasak-bali",
"la-bali",
"ma-bali",
"ga-bali",
"gaGora-bali",
"ba-bali",
"baKembang-bali",
"nga-bali",
"pa-bali",
"paKapal-bali",
"efSasak-bali",
"ja-bali",
"jaJera-bali",
"ya-bali",
"nya-bali",
"ha_tedung-bali",
"na_tedung-bali",
"naRambat_tedung-bali",
"ca_tedung-bali",
"caLaca_tedung-bali",
"ra_tedung-bali",
"ka_tedung-bali",
"kafSasak_tedung-bali",
"khotSasak_tedung-bali",
"da_tedung-bali",
"daMadu_tedung-bali",
"ta_tedung-bali",
"taMurdaMahaprana_tedung-bali",
"taLatik_tedung-bali",
"taTawa_tedung-bali",
"tzirSasak_tedung-bali",
"sa_tedung-bali",
"saSapa_tedung-bali",
"saSaga_tedung-bali",
"zalSasak_tedung-bali",
"asyuraSasak_tedung-bali",
"wa_tedung-bali",
"veSasak_tedung-bali",
"la_tedung-bali",
"ma_tedung-bali",
"ga_tedung-bali",
"gaGora_tedung-bali",
"ba_tedung-bali",
"baKembang_tedung-bali",
"nga_tedung-bali",
"pa_tedung-bali",
"efSasak_tedung-bali",
"jaJera_tedung-bali",
"ya_tedung-bali",
"ya-bali.post",
"ya-bali.post.short",
"ya-bali.post2",
"ya-bali.post2.short",
"jaJera-bali.ccmp0",
"nya_suku-bali",
"nya_sukuIlut-bali",
"ha-bali.below_ya-bali.post2",
"naRambat-bali.below_ya-bali.post2",
"ca-bali.below_ya-bali.post2",
"caLaca-bali.below_ya-bali.post2",
"ka-bali.below_ya-bali.post2",
"kafSasak-bali.below_ya-bali.post2",
"da-bali.below_ya-bali.post2",
"daMadu-bali.below_ya-bali.post2",
"daMurdaAlpaprana-bali.below_ya-bali.post2",
"ta-bali.below_ya-bali.post2",
"tzirSasak-bali.below_ya-bali.post2",
"saSaga-bali.below_ya-bali.post2",
"asyuraSasak-bali.below_ya-bali.post2",
"la-bali.below_ya-bali.post2",
"ma-bali.below_ya-bali.post2",
"ga-bali.below_ya-bali.post2",
"gaGora-bali.below_ya-bali.post2",
"ba-bali.below_ya-bali.post2",
"baKembang-bali.below_ya-bali.post2",
"nga-bali.below_ya-bali.post2",
"ja-bali.below_ya-bali.post2",
"nya-bali.below_ya-bali.post2",
"ha-bali.below_ya-bali.post2.short",
"naRambat-bali.below_ya-bali.post2.short",
"ca-bali.below_ya-bali.post2.short",
"caLaca-bali.below_ya-bali.post2.short",
"ka-bali.below_ya-bali.post2.short",
"kafSasak-bali.below_ya-bali.post2.short",
"da-bali.below_ya-bali.post2.short",
"daMadu-bali.below_ya-bali.post2.short",
"daMurdaAlpaprana-bali.below_ya-bali.post2.short",
"ta-bali.below_ya-bali.post2.short",
"tzirSasak-bali.below_ya-bali.post2.short",
"saSaga-bali.below_ya-bali.post2.short",
"asyuraSasak-bali.below_ya-bali.post2.short",
"la-bali.below_ya-bali.post2.short",
"ma-bali.below_ya-bali.post2.short",
"ga-bali.below_ya-bali.post2.short",
"gaGora-bali.below_ya-bali.post2.short",
"ba-bali.below_ya-bali.post2.short",
"baKembang-bali.below_ya-bali.post2.short",
"nga-bali.below_ya-bali.post2.short",
"ja-bali.below_ya-bali.post2.short",
"nya-bali.below_ya-bali.post2.short",
"ulu_uluRicem-bali.01",
"ulu_uluCandra-bali.01",
"ulu_cecek-bali.01",
"ulu_surang-bali.01",
"uluSari_uluRicem-bali.01",
"uluSari_uluCandra-bali.01",
"uluSari_cecek-bali.01",
"uluSari_surang-bali.01",
"pepet_cecek-bali.01",
"pepet_surang-bali.01",
"rerekan_ulu_cecek-bali.01",
"rerekan_ulu_surang-bali.01",
"rerekan_uluSari_cecek-bali.01",
"rerekan_uluSari_surang-bali.01",
"rerekan_pepet_cecek-bali.01",
"rerekan_pepet_surang-bali.01",
"rerekan_cecek-bali.01",
"rerekan_surang-bali.01",
"ulu-bali.01",
"uluSari-bali.01",
"uluRicem-bali.01",
"uluCandra-bali.01",
"pepet-bali.01",
"cecek-bali.01",
"surang-bali.01",
"rerekan-bali.01",
"ra-bali.below2",
"saSapa-bali.post",
"zalSasak-bali.post",
"pa-bali.post",
"paKapal-bali.post",
"efSasak-bali.post",
"tedung-bali",
"taling-bali",
"nya_ha-bali.below",
"nya_na-bali.below",
"nya_naRambat-bali.below",
"nya_ca-bali.below",
"nya_caLaca-bali.below",
"nya_ra-bali.below",
"nya_ka-bali.below",
"nya_kaMahaprana-bali.below",
"nya_kafSasak-bali.below",
"nya_da-bali.below",
"nya_daMadu-bali.below",
"nya_daMurdaAlpaprana-bali.below",
"nya_daMurdaMahaprana-bali.below",
"nya_ta-bali.below",
"nya_taMurdaMahaprana-bali.below",
"nya_taLatik-bali.below",
"nya_taTawa-bali.below",
"nya_tzirSasak-bali.below",
"nya_saSaga-bali.below",
"nya_asyuraSasak-bali.below",
"nya_wa-bali.below",
"nya_veSasak-bali.below",
"nya_la-bali.below",
"nya_ma-bali.below",
"nya_ga-bali.below",
"nya_gaGora-bali.below",
"nya_ba-bali.below",
"nya_baKembang-bali.below",
"nya_nga-bali.below",
"nya_ja-bali.below",
"nya_nya-bali.below",
"ra-bali.below1",
"raRepaMark-bali.below1",
"nya_la-bali.below2",
"nya_ba-bali.below2",
"raRepaMark-bali.below2",
"ra-bali.below3",
"raRepaMark-bali.below3",
"caLaca-bali.below_suku-bali.below",
"daMurdaMahaprana-bali.below_suku-bali.below",
"taMurdaMahaprana-bali.below_suku-bali.below",
"taLatik-bali.below_suku-bali.below",
"la-bali.below_suku-bali.below",
"ma-bali.below_suku-bali.below",
"ba-bali.below_suku-bali.below",
"nya-bali.below_suku-bali.below",
"caLaca-bali.below_sukuIlut-bali.below",
"daMurdaMahaprana-bali.below_sukuIlut-bali.below",
"taMurdaMahaprana-bali.below_sukuIlut-bali.below",
"taLatik-bali.below_sukuIlut-bali.below",
"la-bali.below_sukuIlut-bali.below",
"ma-bali.below_sukuIlut-bali.below",
"ba-bali.below_sukuIlut-bali.below",
"nya-bali.below_sukuIlut-bali.below",
"la-bali.below_wa-bali.below2",
"ba-bali.below_wa-bali.below2",
"ra_ya-bali.post.short",
"One-roman",
"Two-roman",
"Three-roman",
"Four-roman",
"Five-roman",
"Six-roman",
"Seven-roman",
"Eight-roman",
"Nine-roman",
"Ten-roman",
"Fifty-roman",
"Hundred-roman",
"Fivehundred-roman",
"Thousand-roman",
"zero-bali",
"one-bali",
"two-bali",
"three-bali",
"four-bali",
"five-bali",
"six-bali",
"seven-bali",
"eight-bali",
"nine-bali",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
CR,
.notdef,
.null,
"space-han",
"panti-bali",
"pamada-bali",
"windu-bali",
"carikPamungkah-bali",
"carikSiki-bali",
"carikPareren-bali",
"pameneng-bali",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
exclamdouble,
numbersign,
slash,
backslash,
twoasterisksvertical,
colon.case,
semicolon.case,
exclamdown.case,
questiondown.case,
periodcentered.case,
bullet.case,
hyphen,
endash,
emdash,
underscore,
wavedash,
hyphen.case,
endash.case,
emdash.case,
wavedash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
blacklenticularbracketleft,
blacklenticularbracketright,
tortoiseshellbracketleft,
tortoiseshellbracketright,
whitelenticularbracketleft,
whitelenticularbracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
blacklenticularbracketleft.case,
blacklenticularbracketright.case,
tortoiseshellbracketleft.case,
tortoiseshellbracketright.case,
whitelenticularbracketleft.case,
whitelenticularbracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
florin,
"dang-bali",
"dangSurang-bali",
"dangGede-bali",
"daeng-bali",
"ding-bali",
"dung-bali",
"deng-bali",
"deung-bali",
"daing-bali",
"dong-bali",
"rightHandOpenDug-bali",
"rightHandOpenDag-bali",
"rightHandClosedTuk-bali",
"rightHandClosedTak-bali",
"leftHandOpenPang-bali",
"leftHandOpenPung-bali",
"leftHandClosedPlak-bali",
"leftHandClosedPluk-bali",
"leftHandOpenPing-bali",
baht,
blackSunWithRays,
umbrella,
leftBlackIndex,
rightBlackIndex,
leftWhiteIndex,
upWhiteIndex,
rightWhiteIndex,
downWhiteIndex,
peace,
whiteFrowningFace,
whiteSmilingFace,
blackRecycling,
warningSign,
airplane,
checkmark,
heavyCheckMark,
multiplicationX,
eightPointedRectilinearBlackStar,
twelvePointedBlackStar,
heavyBlackHeart,
apple,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
estimated,
numero,
helmsymbol,
propellor,
at.case,
cent,
currency,
dollar,
dong,
euro,
hryvnia,
lira,
ruble,
rupeeIndian,
sheqel,
sterling,
tenge,
won,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
leftHookArrow,
rightHookArrow,
upTipLeftArrow,
upTipRightArrow,
downTipLeftArrow,
downTipRightArrow,
leftAndRightArrow,
blackCircle,
whiteCircle,
leftHalfBlackWhiteCircle,
rightHalfBlackWhiteCircle,
lowerHalfBlackWhiteCircle,
upperHalfBlackWhiteCircle,
dottedCircle,
lozenge,
blackSquare,
whiteSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
"ha-bali.below",
"na-bali.below",
"naRambat-bali.below",
"ca-bali.below",
"caLaca-bali.below",
"ra-bali.below",
"ka-bali.below",
"kaMahaprana-bali.below",
"kafSasak-bali.below",
"da-bali.below",
"daMadu-bali.below",
"daMurdaAlpaprana-bali.below",
"daMurdaMahaprana-bali.below",
"ta-bali.below",
"taMurdaMahaprana-bali.below",
"taLatik-bali.below",
"taTawa-bali.below",
"tzirSasak-bali.below",
"saSaga-bali.below",
"asyuraSasak-bali.below",
"wa-bali.below",
"wa-bali.below2",
"veSasak-bali.below",
"la-bali.below",
"ma-bali.below",
"ga-bali.below",
"gaGora-bali.below",
"ba-bali.below",
"baKembang-bali.below",
"nga-bali.below",
"ja-bali.below",
"nya-bali.below",
"ulu-bali",
"ulu_uluRicem-bali",
"ulu_uluCandra-bali",
"ulu_cecek-bali",
"ulu_surang-bali",
"uluSari-bali",
"uluSari_uluRicem-bali",
"uluSari_uluCandra-bali",
"uluSari_cecek-bali",
"uluSari_surang-bali",
"uluRicem-bali",
"uluCandra-bali",
"pepet-bali",
"pepet_cecek-bali",
"pepet_surang-bali",
"cecek-bali",
"surang-bali",
"rerekan-bali",
"rerekan_cecek-bali",
"rerekan_surang-bali",
"rerekan_ulu_cecek-bali",
"rerekan_ulu_surang-bali",
"rerekan_uluSari_cecek-bali",
"rerekan_uluSari_surang-bali",
"rerekan_pepet_cecek-bali",
"rerekan_pepet_surang-bali",
"suku-bali",
"suku-bali.below",
"sukuIlut-bali",
"sukuIlut-bali.below",
"raRepaMark-bali",
"laLengaMark-bali",
"tegeh-bali",
"endep-bali",
"kempul-bali",
"kempli-bali",
"jegogan-bali",
"kempulJegogan-bali",
"kempliJegogan-bali",
"bende-bali",
"gong-bali",
"suku-bali.alt",
"sukuIlut-bali.alt",
"ra-bali.belowCenik1",
"raRepaMark-bali.belowCenik1",
"ra-bali.belowCenik2",
"raRepaMark-bali.belowCenik2",
"ra-bali.belowCenik3",
"raRepaMark-bali.belowCenik3",
"ra-bali.belowCenik4",
"raRepaMark-bali.belowCenik4",
"ra-bali.belowGempelan",
"raRepaMark-bali.belowGempelan",
"ra-bali.below.ss01",
"raRepaMark-bali.ss01",
"adegadeg-bali",
"ra_ya-bali.post",
"ra_ya_tedung-bali.post",
"ra_ya_suku-bali.post",
"ra_ya_sukuIlut-bali.post",
"sa-bali.post",
"jaJera-bali.post",
"bisah-bali",
"raRepaTedungMark-bali",
"laLengaTedungMark-bali",
"talingRepa-bali",
"talingTedung-bali",
"talingRepaTedung-bali",
"pepetTedung-bali",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
dotbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
commaturnedabovecomb.case,
commaaccentcomb.loclMAH,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
uni1B7E,
_commaturnedabovecomb.002,
_part.shoulder,
_part.stem,
_part.stem_E,
_part.stem_F,
_part.stem_L,
_part.stem_l,
"_ya-bali.post_komp_",
"_ya-bali.post2.short_kom_",
_Cecek_komponen,
_D_strokeshortcomb,
_H_strokelongcomb,
_Ilut_duwur,
_Komponen_sa_,
_L_slashshortcomb,
_O_slashlongcomb,
_aikara_ikuh,
_akara,
_akara_bangkiang,
_ba_bangkiang,
_bar_hor_dbl_,
_bar_ver_,
_bitang_,
_bottom_E,
_caLaca,
_caLaca_ekor,
_ca_awak,
_calaca_gantungan,
_calaca_tenas,
_cecek_bangkiang,
_cecek_bawah,
_cecek_ulu_sari,
_center_E,
_daMadu_bawah,
_daMadu_below,
_daMudra,
_dieresiscom,
_dot_ulu_bali,
_ekara_tenas,
_euro,
_gantungan_h_,
_gantungan_la_ekor,
_h_strokeshortcomb,
_ha_bali_core,
_ha_bangkiang,
_ha_geluungan_ha,
_ha_tenas_ha,
_ha_tundun_ha,
_iluk_duwur,
_kaMahaprana,
_l_slash,
_la_bali_awak_lantang,
_la_baong,
_la_tenas,
_lelengaTedung,
_macroncomb,
_matan_ai,
_na_bangkiang,
_na_baong,
_na_batis,
_na_tenas,
_nania_baru,
_nania_panjang,
_nga_bali_ekor,
_nga_body,
_nga_tenas,
_nga_top,
_nya_ekor,
_o_slashlongcomb,
_okara_tenas,
_padama_bawah,
_panah_bunter,
_pepet_bawak,
_period_elips,
_perut_b,
_perut_d,
_ra_ya_post_depan,
_rejuna_,
_repa_,
_sa_sapa_tenas,
_segtitga_bali,
_stem_ending,
_sterling_kom_,
_suku_bali_,
_suku_ilut_,
_surang_bawak,
_suwet,
_suwet_bawah,
_suwet_ka,
_suwet_ta,
_taMudra_tenas,
_ta_awak,
_tail_na,
_tail_sa,
_taling_tenas,
_tandaPanah,
_tedung_bali_,
_tedung_ekoran,
_tedung_kom,
_tildecomb,
_top_E,
_ulu_cecek_,
_ulucandra_bawak,
_wa_ca_gelungan,
_ya_bali,
_ya_bali_post2_awak,
_ytail,
_zeroslash,
ya_bali_post,
_commaturnedabovecomb.001
)