(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
K.0036,
C.001,
G.001,
G.002,
G.003,
K.001,
M.001,
O.001,
R.001,
R.002,
R.003,
R.004,
R.005,
R.006,
S.001,
S.002,
X.001,
K.ss01.001,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
r.001,
"akara-bali",
"akaraTedung-bali",
"ikara-bali",
"ikaraTedung-bali",
"ukara-bali",
"ukaraTedung-bali",
"raRepa-bali",
"raRepaTedung-bali",
"laLenga-bali",
"laLengaTedung-bali",
"ekara-bali",
"aikara-bali",
"okara-bali",
"okaraTedung-bali",
"ha-bali",
"na-bali",
"naRambat-bali",
"ca-bali",
"caLaca-bali",
"ra-bali",
"ka-bali",
"kaMahaprana-bali",
"kafSasak-bali",
"khotSasak-bali",
"da-bali",
"daMadu-bali",
"daMurdaAlpaprana-bali",
"daMurdaMahaprana-bali",
"ta-bali",
"taMurdaMahaprana-bali",
"taLatik-bali",
"taTawa-bali",
"tzirSasak-bali",
"sa-bali",
"saSapa-bali",
"saSaga-bali",
"zalSasak-bali",
"asyuraSasak-bali",
"wa-bali",
"veSasak-bali",
"la-bali",
"ma-bali",
"ga-bali",
"gaGora-bali",
"ba-bali",
"baKembang-bali",
"nga-bali",
"pa-bali",
"paKapal-bali",
"efSasak-bali",
"ja-bali",
"jaJera-bali",
"ya-bali",
"nya-bali",
"ha_tedung-bali",
"na_tedung-bali",
"naRambat_tedung-bali",
"ca_tedung-bali",
"caLaca_tedung-bali",
"ra_tedung-bali",
"ka_tedung-bali",
"kafSasak_tedung-bali",
"khotSasak_tedung-bali",
"da_tedung-bali",
"daMadu_tedung-bali",
"ta_tedung-bali",
"taMurdaMahaprana_tedung-bali",
"taLatik_tedung-bali",
"taTawa_tedung-bali",
"tzirSasak_tedung-bali",
"sa_tedung-bali",
"saSapa_tedung-bali",
"saSaga_tedung-bali",
"zalSasak_tedung-bali",
"asyuraSasak_tedung-bali",
"wa_tedung-bali",
"veSasak_tedung-bali",
"la_tedung-bali",
"ma_tedung-bali",
"ga_tedung-bali",
"gaGora_tedung-bali",
"ba_tedung-bali",
"baKembang_tedung-bali",
"nga_tedung-bali",
"pa_tedung-bali",
"efSasak_tedung-bali",
"jaJera_tedung-bali",
"ya_tedung-bali",
"ya-bali.post",
"ya-bali.post.short",
"ya-bali.post2",
"ya-bali.post2.short",
"ha-bali.001",
"jaJera-bali.ccmp0",
"zero-bali",
"one-bali",
"two-bali",
"three-bali",
"four-bali",
"five-bali",
"six-bali",
"seven-bali",
"eight-bali",
"nine-bali",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
"panti-bali",
"pamada-bali",
"windu-bali",
"carikPamungkah-bali",
"carikSiki-bali",
"carikPareren-bali",
"pameneng-bali",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
"dang-bali",
"dangSurang-bali",
"dangGede-bali",
"daeng-bali",
"ding-bali",
"dung-bali",
"deng-bali",
"deung-bali",
"daing-bali",
"dong-bali",
"rightHandOpenDug-bali",
"rightHandOpenDag-bali",
"rightHandClosedTuk-bali",
"rightHandClosedTak-bali",
"leftHandOpenPang-bali",
"leftHandOpenPung-bali",
"leftHandClosedPlak-bali",
"leftHandClosedPluk-bali",
"leftHandOpenPing-bali",
baht,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
euro,
hryvnia,
ruble,
rupeeIndian,
sheqel,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
leftHookArrow,
rightHookArrow,
upTipLeftArrow,
upTipRightArrow,
downTipLeftArrow,
downTipRightArrow,
leftAndRightArrow,
lozenge,
"ha-bali.below",
"na-bali.below",
"naRambat-bali.below",
"ca-bali.below",
"caLaca-bali.below",
"ra-bali.below",
"ra-bali.below2",
"ka-bali.below",
"kaMahaprana-bali.below",
"kafSasak-bali.below",
"da-bali.below",
"daMadu-bali.below",
"daMurdaAlpaprana-bali.below",
"daMurdaMahaprana-bali.below",
"ta-bali.below",
"taMurdaMahaprana-bali.below",
"taLatik-bali.below",
"taTawa-bali.below",
"tzirSasak-bali.below",
"saSaga-bali.below",
"asyuraSasak-bali.below",
"wa-bali.below",
"wa-bali.below2",
"veSasak-bali.below",
"la-bali.below",
"ma-bali.below",
"ga-bali.below",
"gaGora-bali.below",
"ba-bali.below",
"baKembang-bali.below",
"nga-bali.below",
"ja-bali.below",
"nya-bali.below",
"ulu-bali",
"ulu_uluRicem-bali",
"ulu_uluCandra-bali",
"ulu_cecek-bali",
"ulu_surang-bali",
"uluSari-bali",
"uluSari_uluRicem-bali",
"uluSari_uluCandra-bali",
"uluSari_cecek-bali",
"uluSari_surang-bali",
"uluRicem-bali",
"uluCandra-bali",
"pepet-bali",
"pepet_cecek-bali",
"pepet_surang-bali",
"cecek-bali",
"surang-bali",
"rerekan-bali",
"rerekan_cecek-bali",
"rerekan_surang-bali",
"rerekan_ulu_cecek-bali",
"rerekan_ulu_surang-bali",
"rerekan_uluSari_cecek-bali",
"rerekan_uluSari_surang-bali",
"rerekan_pepet_cecek-bali",
"rerekan_pepet_surang-bali",
"suku-bali",
"suku-bali.below",
"sukuIlut-bali",
"sukuIlut-bali.below",
"raRepaMark-bali",
"laLengaMark-bali",
"pepetTedung-bali",
"tegeh-bali",
"endep-bali",
"kempul-bali",
"kempli-bali",
"jegogan-bali",
"kempulJegogan-bali",
"kempliJegogan-bali",
"bende-bali",
"gong-bali",
"ra_ya-bali.post",
"ra_ya_tedung-bali.post",
"ra_ya_suku-bali.post",
"ra_ya_sukuIlut-bali.post",
"sa-bali.post",
"saSapa-bali.post",
"zalSasak-bali.post",
"pa-bali.post",
"paKapal-bali.post",
"efSasak-bali.post",
"jaJera-bali.post",
"bisah-bali",
"tedung-bali",
"raRepaTedungMark-bali",
"laLengaTedungMark-bali",
"taling-bali",
"talingRepa-bali",
"talingTedung-bali",
"talingRepaTedung-bali",
_part.shoulder,
_part.stem,
_part.stem_E,
_part.stem_F,
_part.stem_L,
_part.stem_l,
_Komponen_sa_,
_akara,
_akara_bangkiang,
_ba_bangkiang,
_bar_hor_dbl_,
_bar_ver_,
_bottom_E,
_ca_awak,
_cecek_bangkiang,
_cecek_ulu_sari,
_center_E,
_dot_ulu_bali,
_gantungan_h_,
_ha_bali_core,
_ha_bangkiang,
_ha_geluungan_ha,
_ha_tenas_ha,
_ha_tundun_ha,
_kaMahaprana,
_la_baong,
_la_tenas,
_lelengaTedung,
_na_bangkiang,
_na_baong,
_na_batis,
_na_tenas,
_nga_body,
_nga_tenas,
_nga_top,
_nya_ekor,
_okara_tenas,
_perut_b,
_perut_d,
_repa_,
_stem_ending,
_suku_bali_,
_suku_ilut_,
_tail_Q,
_tail_na,
_tail_sa,
_taling_tenas,
_tedung_bali_,
_top_E,
_wa_ca_gelungan,
_ya_bali,
_ytail,
_g.001,
_g.002,
_k.001,
_k.002,
_s.001
)