{
displayStrings = (
"E/Placeholder EINE
H/Placeholder ientu
H/Placeholder HHHOOHOHO
Hnnn/Placeholder nnn
/Placeholder ii/Placeholder iivioi
Ooo/Placeholder oonov/Placeholder v
n/Placeholder nbuonvie
/Placeholder nuamon
/Placeholder/Placeholder/Placeholder anitasion
-ᬅᬦᬳ/ka_tedung-bali/ta_tedung-bali GGCCScSs scs
SSs s c css",
"Yong Bargita
Yong Rargita
Yong Kargita
Yong Sagita
Yong Nargita
Yong Gargita
Yong Caregita
Yong Orgita
Yong Yargita
Yong Hargita
Yong Wargita
Yong Urgita
Yong Vargita
Yong Sagita
Yong Argita
Yong Dargita
Yong Orgita
Yong Ergita
Yong Fargita
Yong Largita
Yong Margita
Yong Pargita
Yong Qargita
Yong Orgita
Yong Sargita
Yong Targita
Yong Ergita
Yong Fergita
Yong Xargita
Yong Hargita
Yong Zargita
Yong Nargita



MASOSLINE",
"ᬳᬗᬤᬓᬲᬧᬢᬦᬓᬦᬲᬭᬳᬦᬫᬩᬢᬕᬯᬲᬮᬯᬭᬫᬕᬯᬫᬯᬫᬜᬩᬦᬫᬓᬤᬳᬫᬓᬮ᭞ᬫᬸᬯᬄᬳᬦᭂᬕᭂᬦ᭞ᬫᬮᬧᬮᬧᬦ᭞ᬮᬬᬦᬦᬲᬓᬾᬳᬗᬃᬫᬾᬢᬩᬜᬸ᭞ᬫᬸᬯᬄᬳᬗ
ᬗᬦ᭞ᬫᬯᬄᬳᬗᬶᬭᬶᬲ᭞ᬬᬦᬲᬶᬭᬳᬫᬸᬭᬸᬕᬲᬮᬶᬢᬢᬸᬗᬕᬮ᭞ᬤᬱᬕᬸᬗᬃᬢᬣ᭞᭒᭕᭐᭐᭞ᬭᬶᬲᬯᬶᬚᬶᬯᬶ᭞ᬢᬶᬗᬓᬳᬶᬳᬜᭂᬧᬶᬲᬶᬭᬳᬫᬲᬗᬓᭂᬦᬢᬗᭂᬭᬦᬳᬫᬩᬸᬓᬓᬭᬢᬧᬶᬦᬶᬤᬮᬦ᭞ᬭᬶᬩᬦᬢᭂᬲᬾ
᭞ᬫᬯᬄᬬᬦᬦᬯᬮᬬᬦ᭞ᬳᬗᬢᭂᬭᬓᭂᬦᬚᬭᬦᬫᬫᬦᬤ᭞ᬲᬫᬶᬬᬯᬗᬶᬓᬬᬦᬲᬓᬶᬢᬫᬩᬸᬳᬾ᭞ᬬᬦᬬᬯᬸᬲᬫᬜᬚᬶᬭᬶᬍᬫᬄᬲᬚᬭᬦᬶᬲᬲᭂᬧᬾᬦ᭞ᬯᬦᬓᬢᬦᬤᬲᬕᬕᬯᬦᬾ᭞ᬳᬦᬩᬸᬲ᭠
ᬕᬸᬳᬕᬸᬳᬃᬢᬣ᭞ᬯᬶᬚᬶᬯᬶᬚᬶᬦᭂᬦ᭞ᬫᬓᬤᬰᬦᬾ᭞ᬳᬸᬯᬓᬦᬲᬕᬕᬯᬾᬦᬾ᭞ᬬᬦᬯᬸᬲᬦᬯᬸᬭ᭟ᬬᬦᬬᬮᬗᬕᬦᬓᬤᭂᬄᬫᬯᬧᬓᬱᬮᬸᬫᬶᬯᬢ᭞ᬓᬳᬋᬧᬾᬢᬦᬧᬯᬾᬄᬳᬢᬢᬦᬤᬦ᭞ᬯᬦᬩᬜᬚᬦᬦᭂᬦ᭞
",
"/Placeholder ᬅ/Placeholder ᬆ/Placeholder ᬳ/Placeholder ᬦ/Placeholder ᬘ/Placeholder ᬭ/Placeholder ᬓ/Placeholder ᬤ/Placeholder ᬢ/Placeholder ᬲ/Placeholder ᬯ/Placeholder ᬮ/Placeholder ᬫ/Placeholder ᬕ/Placeholder ᬩ/Placeholder ᬗ/Placeholder ᬧ/Placeholder ᬚ/Placeholder ᬬ/Placeholder ᬜ/Placeholder/ya_tedung-bali -

ᬳᬳᬳ/Placeholder ᬳ

-ᬉ᭞᭟᭛᭚᭚ᬮᬥᬤᬳᬜᬵ/ca_tedung-bali/ra_tedung-bali/da_tedung-bali/na_tedung-bali ᬫᬧᬕᬚᬲ/_ya_bali ᬬᬣᬰᬩᬮᬳᬙᬭ



",
"ᬶ
/ulu_uluRicem-bali 
/ulu_uluCandra-bali 
/ulu_cecek-bali 
/ulu_surang-bali 
ᬷ
/uluSari_uluRicem-bali 
/uluSari_uluCandra-bali 
/uluSari_cecek-bali 
/uluSari_surang-bali 
ᬀ
ᬁ
ᭂ
/pepet_cecek-bali 
/pepet_surang-bali 
ᬂ
ᬃ
᬴
/rerekan_cecek-bali 
/rerekan_surang-bali 
/rerekan_ulu_cecek-bali 
/rerekan_ulu_surang-bali 
/rerekan_uluSari_cecek-bali 
/rerekan_uluSari_surang-bali 
/rerekan_pepet_cecek-bali 
/rerekan_pepet_surang-bali 
ᬸ
/suku-bali.below 

ᬹ
/sukuIlut-bali.below 

ᬺ

ᬼ

ᭃ
ᬄ

ᬵ
ᬻ

ᬽ


ᬾ

ᬿ

ᭀ

ᭁ",
"ᬂᬳᬳ᭟ ᭞᭞/_cecek_bangkiang/_cecek_bangkiang/Placeholder  ᬳᬑᬳᬳ/ga_tedung-bali ᬦᬅᬓᬭᬑ",
"ᬳ᭞ᬳᬡᬡ᭞ᬦ᭟  ᭞"
);
}
